/* app/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Désactive l'affichage de l'indicateur de route Next.js 15 */
nextjs-portal, 
#nextjs-portal,
[data-nextjs-route-announcer],
.nextjs-static-indicator {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}